@import '../helpers/_variables.scss';
@import '../helpers/_mixins.scss';

/* Start Subscribe */
.subscribe {
    padding: 40px 0;

    h4 {
        @media #{$maxXSmall} { font-size: 19px !important }
    }

    .sub {
        @media #{$maxSmall} { justify-content: center; margin-top: 20px }

        a {
            @include prefixer (transition, all .3s ease-in-out, webkit moz o ms);
            border: 1px solid;
            padding: 10px 20px;
            
            &:hover { background: $subColor; border-color: $subColor } 
        }
    }
}
/* End Subscribe */