@import '../helpers/_variables.scss';

/* Start Scroll */

.scroll {
	position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0.6;
    padding: 5px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    
    &:hover { opacity: 1 }

    i { 
        padding: 5px 10px;
        
        @media #{$maxSmall} { font-size: 1.5em !important } 
    }   
}

/* End Scroll */